# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\US WORK\MIU-SCHOOL\NEW2020-2021\WAP\Assignments\badis-saidani.github.io\Lesson12\shopping\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
